@use "./card";
/*// @use "./pygments"; */
@use "./codehilite/vim.css";
@use "./markdown";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --color-primary: #3ca4c8; // bluish
    --color-secondary: #eaebf0; // whitish
    --color-tertiary: #212830; // greyish
    --nav-height: 64px;
    --footer-height: 112px;
    --main-height: calc(100vh - var(--footer-height) - var(--nav-height));
  }
}

:root {
    --nav-height: 64px;
    --footer-height: 112px;
    --main-height: calc(100vh - var(--footer-height) - var(--nav-height));
}
nav {
  z-index: 1;

  background-color: var(--color-tertiary);

  svg {
    fill: var(--color-primary);

    height: 30px;

    opacity: 1;
  }
}

.card.card__bullets {
  li {
    padding: 5px;
  }
}

section {
  margin-top: 4rem;
}

.bg-primary {
  background-color: var(--color-primary);
}

.work, .blog {
  background-color: var(--color-tertiary);

  .card-body.technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-body img {
    width: 4rem;
  }
}

.white {
  color: #eaebf0;
}

.blue {
  color: var(--color-primary);
}

.header-logo {
  fill: #ccc;
}

.header {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6615021008403361) 9%,
    rgba(0, 212, 255, 0.01) 73%
  );
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
