{% extends 'main/base.html' %} {% block body %} {% load static %} {% load icons %}

<section
  id="splash"
  class="h-[var(--splash-height)] bg-hero-pattern bg-cover bg-center"
>
  <div class="relative h-full px-16 pt-[50%] md:px-48 md:pt-[15%]">
    <p class="font-hero text-4xl text-white md:text-5xl xl:text-7xl">
      Iain McNulty
    </p>
    <p class="font-hero text-3xl text-primary md:text-4xl xl:text-6xl">
      {% icon 'fa fa-terminal text-white' %} Software Engineer
    </p>
    <div
      class="absolute bottom-0 left-[50%] translate-x-[-50%] translate-y-[20%]"
    >
      <a
        class="js-scroll-down button--border flex h-20 w-20 items-center justify-center self-center md:h-28 md:w-28"
        href="#intro"
        >{% icon 'fa fa-arrow-down text-white' %}</a
      >
    </div>
  </div>
</section>

<section
  id="intro"
  class="shadow-primary-500 flex w-full flex-col items-center justify-evenly bg-tertiary p-6 text-slate-200 shadow-lg"
>
  <div class="flex flex-col md:flex-row">
    <div class="flex justify-center self-center md:w-2/5 lg:self-center">
      <img
        src="static/src/images/me.jpeg"
        alt="Me"
        class="h-48 w-48 rounded-full"
      />
    </div>
    <div class="xl:pr-(25%) md:ml-40 md:w-3/5 lg:ml-0">
      <p class="py-4 text-2xl lg:text-4xl">Hi, I'm Iain.</p>
      <p class="py-4">
        I use Ruby and other programming languages to build solutions.
      </p>
      <p class="py-4">
        Get in touch if you want a dynamic software developer to join your
        enterprise.
      </p>
    </div>
  </div>

  <div class="flex w-full items-center justify-between text-xl md:w-[30%]">
    <span class="whitespace-nowrap">I write</span>
    <img
      class="h-16 w-16"
      src="{% static 'src/images/rubyl.svg' %}"
      title="Ruby"
      alt="Ruby"
    />
    {% icon 'fa fa-plus' %}
    <img
      class="h-16 w-16"
      src="{% static 'src/images/rails.png' %}"
      title="Rails"
      alt="Rails"
    />
    in
    <img
      class="h-16 w-16"
      src="{% static 'src/images/nvim.svg' %}"
      alt="NeoVim"
      title="NeoVim"
      width="128"
    />
  </div>
  <div class="relative">
    <div
      class="absolute h-36 w-screen -translate-x-[50%] overflow-hidden md:translate-y-[70%]"
    >
      <svg
        xmlns:dc="http://purl.org/dc/elements/1.1/"
        xmlns:cc="http://creativecommons.org/ns#"
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:svg="http://www.w3.org/2000/svg"
        xmlns="http://www.w3.org/2000/svg"
        id="svg8"
        version="1.1"
        viewBox="0 0 422.12386 53.741826"
        height="203.11871"
        width="100%"
      >
        <g style="display: none" id="layer2">
          <rect
            y="1.7833529"
            x="0.081787996"
            height="52.916668"
            width="423.33334"
            id="rect4644"
            style="
              opacity: 0.925;
              fill: none;
              fill-opacity: 1;
              stroke: var(--color-primary);
              stroke-width: 0.5291667;
              stroke-linecap: butt;
              stroke-miterlimit: 4;
              stroke-dasharray: none;
              stroke-dashoffset: 0;
              stroke-opacity: 1;
            "
          />
        </g>
        <g
          style="display: inline"
          transform="translate(3.2423985,-24.346313)"
          id="layer1"
        >
          <path
            id="path4545"
            d="m -3.1606099,50.658628 c 0,0 89.9583359,-52.0023386 202.6381599,0.476795 126.02771,58.695727 220.69518,0.437533 220.69518,0.437533"
            style="
              fill: none;
              stroke: var(--color-primary);
              stroke-width: 0.46458332px;
              stroke-linecap: butt;
              stroke-linejoin: miter;
              stroke-opacity: 1;
            "
          />
        </g>
      </svg>
    </div>
  </div>
</section>

<!-- WORK DESCRIPTION-->
<!-- <div class="work bg-tertiary pt-12 font-content text-slate-200 md:px-28"> -->
<section
  class="work flex flex-wrap bg-tertiary pt-12 align-middle font-content text-slate-200 md:gap-x-16 md:px-28 lg:flex-row"
>
  <div class="card card__bullets">
    <div class="card-head">Experience</div>
    <div class="card-body">
      <ul>
        <li>{% icon 'fa fa-check' %} {{years}} years professional career</li>
        <li>{% icon 'fa fa-check' %} Full Stack</li>
        <li>{% icon 'fa fa-check' %} Startups to Multinationals</li>
      </ul>
    </div>
  </div>
  <div class="card card__bullets">
    <div class="card-head">Status</div>
    <div class="card-body">
      <ul>
        <li>{% icon 'fa fa-map-pin' %} London based</li>
        <li>{% icon 'fa fa-briefcase' %} Remote and Hybrid</li>
        <li>{% icon 'fa fa-plus' %} DBS Clearance & Insured</li>
      </ul>
    </div>
  </div>
  <div class="card card__bullets">
    <div class="card-head">Strengths</div>
    <div class="card-body">
      <ul>
        <li>{% icon 'fa fa-comments' %} Communication</li>
        <li>{% icon 'fa fa-users' %} Collaboration</li>
        <li>{% icon 'fa fa-code' %} Devops to SPA</li>
      </ul>
    </div>
  </div>

  <div class="card full">
    <div class="card-head">Past Projects</div>
    <div class="card-body">
      <div class="flex flex-grow flex-wrap justify-between gap-12">
        <div class="text-center">
          <img
            src="{% static 'src/images/aws.svg' %}"
            title="Amazon Web Services"
            alt="AWS"
          />AWS
        </div>
        <div class="text-center">
          <img
            src="{% static 'src/images/crystal-white.svg' %}"
            alt="Crystal"
            title="Crystal"
            width="128"
          />
          Crystal
        </div>
        <div class="text-center">
          <img
            src="{% static 'src/images/python.svg' %}"
            alt="Python"
            title="Python"
            width="128"
          />
          Django
        </div>
        <div class="text-center">
          <img
            src="{% static 'src/images/docker.svg' %}"
            alt="Docker"
            title="Docker"
            width="128"
          />Docker
        </div>
        <div class="text-center">
          <img
            src="{% static 'src/images/chrome.svg' %}"
            alt="Chrome"
            title="Chrome"
            width="128"
          />
          Extensions
        </div>
        <div class="text-center">
          <img
            src="{% static 'src/images/js.png' %}"
            title="Javascript"
            alt="Javascript"
          />
          Javascript
        </div>
        <div class="text-center">
          <img
            src="{% static 'src/images/python.svg' %}"
            alt="Python"
            title="Python"
            width="128"
          />Python
        </div>
        <div class="text-center">
          <img
            src="{% static 'src/images/rails.png' %}"
            title="Rails"
            alt="Rails"
          />
          Rails
        </div>
        <div class="text-center">
          <img
            src="{% static 'src/images/react.png' %}"
            title="React"
            alt="React"
          />
          React
        </div>
        <div class="text-center">
          <img
            src="{% static 'src/images/rubyl.svg' %}"
            title="Ruby"
            alt="Ruby"
          />Ruby
        </div>
        <div class="text-center">
          <img
            src="{% static 'src/images/vuejs.svg' %}"
            alt="VueJS"
            title="VueJS"
            width="128"
          />
          Vue
        </div>
        <!-- <div class="flex flex-col items-center justify-between"> -->
        <!--   <img -->
        <!--     src="{% static 'src/images/ts-logo-128.svg' %}" -->
        <!--     alt="TypeScript" -->
        <!--     title="TypeScript" -->
        <!--   />TypeScript -->
        <!-- </div> -->
        <!-- <div class="text-center"> -->
        <!--   <img -->
        <!--     src="{% static 'src/images/nvim.svg' %}" -->
        <!--     alt="NeoVim" -->
        <!--     title="NeoVim" -->
        <!--     width="128" -->
        <!--   />Nvim -->
        <!-- </div> -->
        <!-- <div class="text-center"> -->
        <!--   <img -->
        <!--     src="{% static 'src/images/linux.png' %}" -->
        <!--     title="Linux" -->
        <!--     alt="Linux" -->
        <!--   />Linux -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</section>

<div
  class="shadow-primary-500 w-full overflow-hidden bg-secondary p-6 lg:col-span-3"
>
  <div class="text-primary-700 pb-6 text-center text-4xl md:text-left">
    Github {% icon 'fab fa-github'%}
  </div>

  <div class="scrollbar-hide overflow-scroll">
    <div class="flex w-max cursor-context-menu flex-row gap-16 p-10">
      {% for event in github_events %}
      {% with template="main/github/events/"|add:event.template|add:".html" %}
      {% include template with event=event %} {% endwith %} {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
