{% extends 'main/base.html' %} {% block body %} {% load static %}
{% load icons %}
<div class="top-0 left-0 bottom-0 right-0 h-screen">
  <img
    class="h-screen w-screen object-cover"
    src="{% static 'src/images/hero.jpg' %}"
  />
  <div
    class="absolute inset-y-1/3 right-0 left-0 mx-auto w-[70%] space-y-3 md:left-24"
  >
    <p class="font-hero text-4xl text-white md:text-5xl xl:text-7xl">
      Iain McNulty
    </p>
    <p class="blue-text font-hero text-3xl md:text-4xl xl:text-6xl">
    {% icon 'fa fa-terminal text-white' %} Software Engineer
    </p>
    <div
      class="flex flex-col justify-center space-y-4 md:flex-row md:space-y-0 space-x-4"
    >
      <a
        class="bg-tertiary text-center border-primary border-2 mt-16 self-center w-3/4 rounded py-2 px-4 text-white hover:bg-primary md:text-2xl"
      href="/work">
        Learn more
      </a>
    </div>
  </div>

  {% endblock %}
</div>
