{% extends 'main/base.html' %} {% block body %} {% load static %} {% load icons %}
<div class="top-0 left-0 bottom-0 right-0 h-full">
  <img
    class="h-screen w-screen object-cover"
    src="{% static 'src/images/hero.jpg' %}"
  />
  <div
    class="absolute inset-y-1/3 right-0 left-0 mx-auto w-[70%] space-y-3 md:left-24"
  >
    <p class="font-hero text-4xl text-white md:text-5xl xl:text-7xl">
      Iain McNulty
    </p>
    <p class="text-primary font-hero text-3xl md:text-4xl xl:text-6xl">
      {% icon 'fa fa-terminal text-white' %} Software Engineer
    </p>
    <div
      class="flex flex-col justify-center space-y-4 space-x-4 md:flex-row md:space-y-0"
    >
      <a
        class="mt-16 w-3/4 self-center rounded border-2 border-primary bg-tertiary py-2 px-4 text-center text-white hover:bg-primary md:text-2xl"
        href="/work"
        >Learn more</a
      >
    </div>
  </div>

  <div class="">
    <div
      class="shadow-primary-500 w-full overflow-hidden bg-secondary p-6 lg:col-span-3"
    >
      <div class="text-primary-700 pb-6 text-center text-4xl md:text-left">
        Github {% icon 'fab fa-github'%}
      </div>

      <div class="scrollbar-hide overflow-scroll">
        <div
          class="w-max-content flex cursor-context-menu flex-row gap-16 p-10"
        >
          {% for event in github_events %}
          {% with template="main/github/events/"|add:event.template|add:".html" %}
          {% include template with event=event %} {% endwith %} {% endfor %}
        </div>
      </div>
    </div>
    <div
      class="shadow-primary-500 flex w-full flex-col justify-evenly bg-tertiary p-6 text-slate-200 shadow-lg md:text-xl lg:flex-row"
    >
      <div class="flex justify-center self-center md:w-2/5 lg:self-center">
        <img
          src="static/src/images/me.jpeg"
          alt="Me"
          class="h-48 w-48 rounded-full"
        />
      </div>
      <div class="md:w-3/5">
        <p class="py-4 text-2xl lg:text-4xl">Hi, I'm Iain.</p>
        <p class="py-4">
          I work with Ruby and other programming languages to provide solutions
          to help companies achieve their goals in sofware development.
        </p>
        <p class="py-4">
          I have helped a range of clients complete projects, migrate services,
          implement APIs launch features and maintain live integral systems.
        </p>
        <p class="py-4">
          My passion is for innovative solutions to difficult problems.
        </p>
        <p class="py-4">
          Added to that, I particularly enjoy working with people to achieve
          success.
        </p>
        <p class="py-4">
          I'm honest and forthright with clients and very effective in project
          estimation.
        </p>
        <p class="py-4">
          I would be my pleasure to talk to you about how I can help to improve
          your product.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
