{% load icons %}
<nav class="fixed w-screen">
  <div class="header flex h-16 items-center justify-between px-4 shadow-sm">
    <div class="flex text-left">
      <a href="/"
         ><div class="header-logo text-2xl font-bold text-slate-200">
           <svg
               xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 44.389 17.929"
               >
               <g style="display: inline; opacity: 0.92000002">
               <g aria-label="inulty">
               <path
                   d="M146.103 322.322q-2.368 0-3.968-1.472-1.536-1.536-1.536-3.776 0-2.24 1.536-3.712 1.6-1.536 3.968-1.536t3.904 1.536q1.6 1.472 1.6 3.712t-1.6 3.776q-1.536 1.472-3.904 1.472zm4.416 4.224v35.456h-8.96v-35.456zM171.949 326.034q6.336 0 10.24 4.032 3.904 3.968 3.904 11.136v20.8h-8.96v-19.584q0-4.224-2.112-6.464-2.112-2.304-5.76-2.304-3.712 0-5.888 2.304-2.112 2.24-2.112 6.464v19.584h-8.96v-35.456h8.96v4.416q1.792-2.304 4.544-3.584 2.816-1.344 6.144-1.344z"
                   style="
                          line-height: 0;
                          letter-spacing: -7.05000019px;
                          stroke-width: 0.95347971;
                          "
                   transform="matrix(.29103 0 0 .26458 -40.8 -82.395)"
                   />
               <path
                   d="M221.027 326.546v35.456h-9.024v-4.48q-1.728 2.304-4.544 3.648-2.752 1.28-6.016 1.28-4.16 0-7.36-1.728-3.2-1.792-5.056-5.184-1.792-3.456-1.792-8.192v-20.8h8.96v19.52q0 4.224 2.112 6.528 2.112 2.24 5.76 2.24 3.712 0 5.824-2.24 2.112-2.304 2.112-6.528v-19.52z"
                   style="
                          line-height: 0;
                          letter-spacing: -7.0999999px;
                          stroke-width: 0.95347971;
                          "
                   transform="matrix(.29103 0 0 .26458 -40.8 -82.395)"
                   />
               <path
                   d="M231.718 314.642v47.36h-8.96v-47.36z"
                   style="
                          line-height: 0;
                          letter-spacing: -5px;
                          stroke-width: 0.95347971;
                          "
                   transform="matrix(.29103 0 0 .26458 -40.8 -82.395)"
                   />
               <path
                   d="M245.982 333.906v17.152q0 1.792.832 2.624.896.768 2.944.768h4.16v7.552h-5.632q-11.328 0-11.328-11.008v-17.088h-4.224v-7.36h4.224v-8.768h9.024v8.768h7.936v7.36z"
                   style="
                          line-height: 0;
                          letter-spacing: -2px;
                          stroke-width: 0.95347971;
                          "
                   transform="matrix(.29103 0 0 .26458 -40.8 -82.395)"
                   />
               <path
                   d="M292.302 326.546 270.35 378.77h-9.536l7.68-17.664-14.208-34.56h10.048l9.152 24.768 9.28-24.768z"
                   style="
                          line-height: 0;
                          letter-spacing: -3px;
                          stroke-width: 0.95347971;
                          "
                   transform="matrix(.29103 0 0 .26458 -40.8 -82.395)"
                   />
               </g>
               </g>
           </svg>
      </div
      ></a>
    </div>

    <div class="flex w-1/2 md:w-1/4 items-center justify-around">
      <a
          class="text-gray-500 text-2xl hover:text-gray-700"
          href="https://www.github.com/nulty"
          >{% icon 'fab fa-github' %}</a
        >
        <a
            class="text-gray-500 text-2xl hover:text-gray-700"
            href="https://www.linkedin.com/in/iainmcnulty"
            >{% icon 'fab fa-linkedin' %}</a
          >
          <a class="text-gray-500 hover:text-gray-700" href="/work">Work</a>
          <a class="menu-link text-gray-500 hover:text-gray-700">#</a>
          <div
              class="menu-body absolute top-[4rem] right-4 -z-10 flex hidden flex-col gap-2 rounded-br bg-black p-4 text-right"
              >
              <a class="text-gray-500 hover:text-gray-700" href="/">About-</a>
              <a class="text-gray-500 hover:text-gray-700" href="#">Contact-</a>
          </div>
    </div>
  </div>
</nav>
