{% extends 'main/base.html' %} {% block body %} {% load static %} {% load icons %}

<div
  class="container mx-auto pt-12 font-content text-slate-200 md:px-4 md:pt-32"
>
  <section
    class="flex flex-wrap justify-between align-middle md:gap-x-16 lg:flex-row"
  >
    <div class="card card__bullets">
      <div class="card-head">Experience</div>
      <div class="card-body">
        <ul>
          <li>{% icon 'fa fa-check' %} {{years}} years industry career</li>
          <li>{% icon 'fa fa-check' %} Full Stack</li>
          <li>{% icon 'fa fa-check' %} Startups and Multinationals</li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="card card__bullets">
      <div class="card-head">Status</div>
      <div class="card-body">
        <ul>
          <li>{% icon 'fa fa-map-pin' %} London based</li>
          <li>{% icon 'fa fa-briefcase' %} Remote and Hybrid</li>
          <li>
            {% icon 'fa fa-plus' %} DBS Clearance & Full Indemnity Insurance
          </li>
        </ul>
      </div>
    </div>
    <div class="card card__bullets">
      <div class="card-head">Strengths</div>
      <div class="card-body">
        <ul>
          <li>{% icon 'fa fa-comments' %} Communication</li>
          <li>{% icon 'fa fa-users' %} Collaboration</li>
          <li>{% icon 'fa fa-code' %} Range of Skills</li>
        </ul>
      </div>
    </div>
    <div class="card full">
      <div class="card-head">Profile</div>
      <div class="card-body">
        <p>
          I feel it's important to have a direct relationship with clients to
          fully understand the goals of the projects I work on.
        </p>
        <p>
          I especially enjoy working within a team of developers. I am a team
          player and I get a lot out of sharing ideas and mentoring junior
          developers.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-head">Tools and Services</div>
      <div class="card-body">
        <div class="flex flex-wrap justify-between gap-12">
          <div class="flex flex-col items-center justify-between">
            <img
              src="{% static 'src/images/linux.png' %}"
              title="Linux"
              alt="Linux"
            />Linux
          </div>
          <div class="flex flex-col items-center justify-between">
            <img
              src="{% static 'src/images/rubyl.svg' %}"
              title="Ruby"
              alt="Ruby"
            />Ruby
          </div>
          <div class="flex flex-col items-center justify-between">
            <img
              src="{% static 'src/images/js.png' %}"
              title="Javascript"
              alt="Javascript"
            />
            Javascript
          </div>
          <div class="flex flex-col items-center justify-between">
            <img
              src="{% static 'src/images/aws.svg' %}"
              title="Amazon Web Services"
              alt="AWS"
            />AWS
          </div>
          <div class="flex flex-col items-center justify-between">
            <img
              src="{% static 'src/images/ts-logo-128.svg' %}"
              alt="TypeScript"
              title="TypeScript"
            />TypeScript
          </div>
          <div class="flex flex-col items-center justify-between">
            <img
              src="{% static 'src/images/nvim.svg' %}"
              alt="NeoVim"
              title="NeoVim"
              width="128"
            />Nvim
          </div>
          <div class="flex flex-col items-center justify-between">
            <img
              src="{% static 'src/images/docker.svg' %}"
              alt="Docker"
              title="Docker"
              width="128"
            />Docker
          </div>
          <div class="flex flex-col items-center justify-between">
            <img
              src="{% static 'src/images/python.svg' %}"
              alt="Python"
              title="Python"
              width="128"
            />Python
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-head">Past Projects</div>
      <div class="card-body">
        <div class="flex flex-wrap justify-between gap-12">
          <div class="flex flex-col items-center justify-between">
            <img
              src="{% static 'src/images/rails.png' %}"
              title="Rails"
              alt="Rails"
            />
            Rails Apps
          </div>
          <div class="flex flex-col items-center justify-between">
            <img
              src="{% static 'src/images/chrome.svg' %}"
              alt="Chrome"
              title="Chrome"
              width="128"
            />
            Extensions
          </div>
          <div class="flex flex-col items-center justify-between">
            <img
              src="{% static 'src/images/react.png' %}"
              title="React"
              alt="React"
            />
            React apps
          </div>
          <div class="flex flex-col items-center justify-between">
            <img
              src="{% static 'src/images/vuejs.svg' %}"
              alt="VueJS"
              title="VueJS"
              width="128"
            />
            Vue apps
          </div>
          <div class="flex flex-col items-center justify-between">
            <img
              src="{% static 'src/images/crystal-white.svg' %}"
              alt="Crystal"
              title="Crystal"
              width="128"
            />
            Crystal apps
          </div>
          <div class="flex flex-col items-center justify-between">
            <img
              src="{% static 'src/images/rubyl.svg' %}"
              alt="Ruby"
              title="Ruby"
              width="128"
            />
            Ruby Gem
          </div>
          <div class="flex flex-col items-center justify-between">
            <img
              src="{% static 'src/images/python.svg' %}"
              alt="Python"
              title="Python"
              width="128"
            />
            Django App
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
</div>
